/* -| FONT SIZES |- */

p {
    font-family: "Comfortaa";
    font-size: 28px;
}

.dropcap {
    font-weight: bold;
    float: left;
    font-size: 70px;
    padding-right: 8px;
}

/* ========================================================================== */

/* -| INTRODUCTION |- */

.parallax.topic {
    min-block-size: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.parallax.topic h1, .parallax.topic h2 {
    padding: 20px;
    color: #FBFAF2;
    font-family: "Oswald";
    text-align: center;
    background: #131313;
    border-radius: 10px;
    letter-spacing: 10px;
}

.parallax.topic h1 {
    font-size: 8vmin;
}

.parallax.topic h2 {
    font-size: 7vmin;
}

/* ========================================================================== */

/* -| CONTAINER: for text |- */

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background: #FBFAF2;
    padding: 25px;
}

/* ========================================================================== */

/* -| USER PROFILE |- */

.profile {
    flex: 1;
    inline-size: fit-content;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 25px;
    float: left;
    background-color: #C0C0C0;
    text-align: center;
    
    box-shadow: 5px 5px #131313;
}

.profile:hover {
    box-shadow: none;
    border: 2px #131313 solid;
}

.hero-portrait {
    inline-size: 30vmin;
    block-size: 30vmin;
    align-self: center;
    justify-self: center;
    border: #131313 ridge;
    border-radius: 50%;
}

.profile h2 {
    font-family: "Oswald";
    font-size: xx-large;
}

.profile h3 {
    font-family: "Lato-Light";
    font-size: x-large;
}

.work-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.work-media a, .linkedin, .github {
    inline-size: 100px;
    block-size: 100px;
    margin: 10px;
}

.work-media a .linkedin:hover {
    content: url("../assets/media-icons/linkedin-icon-clicked.svg");
}

.work-media a .github:hover {
    content: url("../assets/media-icons/github-icon-clicked.svg");
}

.introduction {
    flex: 3;
}

/* Responsive Design To Make written content fit better*/
@media (max-width: 900px) {
    .container {
        flex-flow: column wrap;
    }
}

/* ========================================================================== */

/* -| HISTORY OVERVIEW |- */

iframe.inspiration, .ausgp2012 {
    inline-size: 55vmin;
    block-size: 40vmin;
    margin: 20px;
    border-radius: 25px;
}

.ausgp2012 {
    box-shadow: 5px 5px #131313;
}

.ausgp2012:hover {
    content: url("../assets/home-about-credits-images/ausgp-2012-p2.JPG");
    box-shadow: none;
}

figure {
    text-align: center;
}

figcaption {
    font-family: "Lato";
    font-size: x-large;
    color: #2B4562;
}

p a {
    font-family: "Lato";
    color: #0090FF;
    text-decoration: none;
}

p a:hover {
    color: #D8C89E;
    background-color: #131313;
    border-radius: 5px;
}

/* ========================================================================== */
                        /*  NAME: Jude Thaddeau Data
            GITHUB: Zero-Luminance (https://github.com/Zero-Luminance)  */
/* ========================================================================== */