/* -| ARTICLE INTRODUCTION |- */
.parallax.thumbnail {
    min-block-size: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.parallax.parallax.thumbnail h1 {
    padding: 20px;
    color: #FBFAF2;
    font-family: "Oswald";
    font-size: 8vmin;
    text-align: center;
    background: #131313;
    border-radius: 10px;
}

/* ========================================================================== */

/* -| ARTICLE METADATA |- */
.article-meta-data {
    font-family: "Oswald";
    font-size: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

/* ========================================================================== */

/* -| ARTICLE TEXT |- */
.article-text {
    padding-inline: 20px;
    background-color: #FBFAF2;
}

.article-text section {
    margin: 30px;
    padding: 25px;
    background-color: #FBFAF2;
}

.article-text p, li {
    color: #131313;
    font-family: "Comfortaa";
    font-size: 20px;
    line-height: 1.4;
}

/* Applies Dropcaps Effect */
.subhead::first-letter {
    font-weight: bold;
    float: left;
    font-size: 40px;
    padding-right: 8px;
}

.article-text h2 {
    font-family: "Lato";
    font-size: 25px;
    text-align: center;
}

.article-text p a,
.article-text li a,
.article-text figure figcaption a {
    color: #0090FF;
    font-family: "Lato-BoldItalic";
    text-decoration: none;
}

.article-text p a:hover,
.article-text li a:hover,
.article-text figcaption a:hover {
    background-color: #D8C89E;
    border-radius: 5px;
}

/* ========================================================================== */

/* -| NON-TEXT POSITIONING |- */
.center {
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

/* ========================================================================== */

/* -| FIGURES, CAPTIONS, IMAGES & IFRAMES |- */
.article-text figure,
.article-text .custom-thumbnail {
    max-inline-size: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-text figcaption {
    margin: 10px;
    color: #2B4562;
    text-align: center;
    font-family: "Lato-BoldItalic";
    font-size: 2vmax;
}

.article-text img {
    border: #131313 ridge;
}

.article-text iframe {
    inline-size: 55vmin;
    block-size: 40vmin;
    margin-inline: auto;
}

/* ========================================================================== */

/* -| TABLES |- */
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    background-color: #C0C0C0;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    font-family: "Lato-";
}

td {
    font-family: "Comfortaa";
}

/* ========================================================================== */
                        /*  NAME: Jude Thaddeau Data
            GITHUB: Zero-Luminance (https://github.com/Zero-Luminance)  */
/* ========================================================================== */