
/* -| FONT SIZES & STYLES |- */

a.article-container {
    text-decoration: none;
}

.article-meta h2, .article-meta p {
    padding: 5px;
    margin: 10px;
}

.article-meta h2 {
    color: #0090FF;
    font-family: "Lato";
    font-size: 4.5vmin;
    border-bottom: #131313 solid;
}

.article-meta p {
    color: #131313;
    font-size: 2.5vmin;
    font-family: "Comfortaa";
}

.article-type p {
    color: #FBFAF2;
    font-size: 4vmin;
    font-family: "Comfortaa";
}

@media (max-width: 580px) {
    .article-meta h2 {
        font-size: 3.5vmin;
    }

    .article-meta p {
        font-size: 2.5vmin;
    }
}

@media (max-width: 350px) {
    .article-meta h2 {
        font-size: 3vmin;
    }

    .article-meta p {
        font-size: 2vmin;
    }
}

/* ========================================================================== */

/* -| PAGE DESCRIPTION |- */

.article-type {
    padding: 20px;
    background: #131313;
    text-align: center;
}

/* ========================================================================== */

/* -| CONTAINER: for written bodies |- */

.container {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background: #C0C0C0;
}

/* ========================================================================== */

/* -| ARTICLE SHOWCASE |- */

.article-container {
    margin: 10px;
    display: flex;
    background: #FBFAF2;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 5px 5px #131313;
}

.article-container img {
    inline-size: 40vmin;
    block-size: 30vmin;
}

.article-container .article-meta {
    inline-size: 50vmin;
    block-size: 30vmin;
    text-align: center;
}

/* ========================================================================== */

/* Only hover over devices using mouses */
@media (hover:hover) {

    .article-container:hover {
        border: 2px #131313 solid;
        background: #D8C89E;
        box-shadow: none;
    }
}

/* ========================================================================== */
                        /*  NAME: Jude Thaddeau Data
            GITHUB: Zero-Luminance (https://github.com/Zero-Luminance)  */
/* ========================================================================== */