/* -| ARTICLE INTRODUCTION |- */

.parallax.thumbnail {
    min-block-size: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.parallax.parallax.thumbnail h1 {
    padding: 20px;
    color: #FBFAF2;
    font-family: "Oswald";
    font-size: 8vmin;
    text-align: center;
    background: #131313;
    border-radius: 10px;
}

/* ========================================================================== */

/* -| ARTICLE TEXT |- */
.article-text {
    padding-inline: 6vmin;
    background-color: #FBFAF2;
}

.article-text section {
    margin: 6vmin;
    padding: 4vmin;
    background-color: #FBFAF2;
    border-radius: 25px;
}

.article-text p, li {
    color: #131313;
    font-family: "Comfortaa";
    font-size: 2vw;
    line-height: 1.4;
}

/* Applies Dropcaps Effect */
.subhead::first-letter {
    font-weight: bold;
    float: left;
    font-size: 4vw;
    padding-right: 8px;
}

.article-text h2 {
    font-family: "Lato";
    font-size: 3vw;
    text-align: center;
}

.article-text a {
    color: #0090FF;
    font-family: "Lato-BoldItalic";
    text-decoration: none;
}

/* ========================================================================== */

/* -| IMAGES, TABLES, IFRAMES |- */

/* ========================================================================== */
                        /*  NAME: Jude Thaddeau Data
            GITHUB: Zero-Luminance (https://github.com/Zero-Luminance)  */
/* ========================================================================== */