
/* -| INTRODUCTION |- */

.parallax.opinion {
    background-image: url("../assets/home-about-credits-images/credits-intro-background.jpg");
    min-block-size: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.parallax.opinion h1 {
    color: #FBFAF2;
    padding: 20px;
    font-family: "Oswald";
    font-size: 8vmin;
    background: #131313;
    border-radius: 10px;
    letter-spacing: 10px;
}

/* ========================================================================== */

/* -| PAGE & HEADER DESCRIPTIONS |- */

.page-description {
    padding: 20px;
    background: #FBFAF2;
    text-align: center;

    color: #131313;
    font-family: "Comfortaa";
    font-size: 4vmin;
}

.page-description a {
    font-family: "Lato";
    color: #0090FF;
    text-decoration: none;
}

.page-description a:hover {
    color: #D8C89E;
    background-color: #131313;
    border-radius: 5px;
}

.article-source {
    padding: 10px;
    background: #131313;
    text-align: center;

    color: #0090FF;
    font-family: "Lato-BoldItalic";
    font-size: 4vmin;
}

/* ========================================================================== */

/* -| IMAGE GALLERY |- */
.image-gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: #C0C0C0;
}

.image-reference {
    inline-size: 20vw;
    block-size: 20vw;
    margin: 20px;
    border: 1px #131313 solid;
    background-color: #FBFAF2;
}

.image-reference:hover {
    box-shadow: 10px 10px #131313;
}

.image-reference img {
    inline-size: 100%;
    block-size: 100%;
}

/* ========================================================================== */
                        /*  NAME: Jude Thaddeau Data
            GITHUB: Zero-Luminance (https://github.com/Zero-Luminance)  */
/* ========================================================================== */