.dropcap {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    font-size: 70px;
    padding-right: 8px;
}

/* ========================================================================== */
                        /*  NAME: Jude Thaddeau Data
            GITHUB: Zero-Luminance (https://github.com/Zero-Luminance)  */
/* ========================================================================== */