/* -| FONT FAMILIES |-*/
@font-face {
    font-family: "Oswald";
    src: url("../assets/font-families/Oswald/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../assets/font-families/Lato/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("../assets/font-families/Lato/Lato-Light.ttf");
}

@font-face {
    font-family: "Comfortaa";
    src: url("../assets/font-families/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

/* ========================================================================== */

/* -| DROP CAP FOR FIRST LETTER |-*/
.dropcap {
    font-weight: bold;
    float: left;
    font-size: 70px;
    padding-right: 8px;
}

/* ========================================================================== */
                        /*  NAME: Jude Thaddeau Data
            GITHUB: Zero-Luminance (https://github.com/Zero-Luminance)  */
/* ========================================================================== */