
.content {
    background-image: url("../assets/images/home-hero-image.jpg");
    background-size: cover;
    background-position: center;
    block-size: 85vh;
    inline-size: 100vw;
}

/* ========================================================================== */
                        /*  NAME: Jude Thaddeau Data
            GITHUB: Zero-Luminance (https://github.com/Zero-Luminance)  */
/* ========================================================================== */