/* FONT FAMILIES */

@font-face {
    font-family: "Oswald";
    src: url("../assets/font-families/Oswald/Oswald-VariableFont_wght.ttf");
}


/* ========================================================================== */

/* -| First Layer |- */

body, html {
    /* Allows child containers to span the full width of the viewport */
    margin: 0;
    background-color: #C0C0C0;
}

/* -| NAV CONTAINER |- */

header[class="main-nav"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2B4562;
    block-size: 80px;

    /* Nav bar follows reader when scrolling */
    position: sticky;
    inline-size: 100%;
    top: 0;
}

/* ========================================================================== */
                    /* DO NOT FORGET RESPONSIVE DESIGN */
/* ========================================================================== */

/* -| NAV ICON |- */

header[class="main-nav"] a[type="home-icon"] {
    display: inherit;
    align-items: inherit;
}

header[class="main-nav"] a[type="home-icon"] img {
    block-size: 75px;
    margin-left: 50px;
    margin-right: 50px;
}


/* -| NAV WEB LINKS |- */

header[class="main-nav"] nav[type="featured-pages"] {
    margin-right: 50px;
}

header[class="main-nav"] nav[type="featured-pages"] ul {
    display: flex;
    align-content: center;
}

header[class="main-nav"] nav[type="featured-pages"] ul li {
    display: inline;
    border-left: 1px solid #131313;
}

header[class="main-nav"] nav[type="featured-pages"] ul li:last-child {
    border-right: 1px solid #131313;
}

header[class="main-nav"] nav[type="featured-pages"] ul li a {
    margin: 30px;
    font-size: x-large;
    font-family: "Oswald";
    color: #FBFAF2;
    padding-inline: 10px;
    text-decoration: none;
}
        /* Makes the nav heading highlight when hovering */
header[class="main-nav"] nav[type="featured-pages"] ul li a:hover {
    background-color: #131313;
    inline-size: 1em;
}


/* ========================================================================== */
                        /*  NAME: Jude Thaddeau Data
            GITHUB: Zero-Luminance (https://github.com/Zero-Luminance)  */
/* ========================================================================== */