.parallax {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8;
}

/* RESPONSIVE DESIGN */
@media (max-width: 640px) {
    .parallax {
        background-attachment: scroll;
    }
} /* Turn OFF parallax effect with phones & tables */

/* ========================================================================== */
                        /*  NAME: Jude Thaddeau Data
            GITHUB: Zero-Luminance (https://github.com/Zero-Luminance)  */
/* ========================================================================== */